<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("8ae86cee-2b0e-4f4c-a5da-48bfdeb7f5c5");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
